*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}
body{
    overflow-x: hidden;
    
}

/* navbar */
.navbar{
    background-color:darkgreen;
}
/* total balance and total expense */
#tot-balance{
    height: 100px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    
}
.totalHead{
    text-align: center;
    padding: 10px;
}
#tot-expense{
    height: 100px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
}

/* add income and add expense */
.addHead{
    text-align: center;
}
#incomeDiv{
    height: 300px;
    width: 600px;
    
    border:3px solid darkgreen;
    border-radius: 20px;
    position: relative;
    background-color: lightskyblue;

    

}
/* to give opacity  to image only without affecting other contents */
#incomeDiv::before{
    background-image: url("./images/HORIZONTAL.jpg");
    background-size: cover;
    content: '';
    position: absolute;
    inset:0;
    opacity: 0.3;
    border-radius: 20px;
    
}
#incomeDiv h2{
    isolation: isolate;
}
#incomeDiv button{
    isolation: isolate;
}
#expenseDiv{
    height: 300px;
    width: 600px;
    margin-left: 90px;
    
    border:3px solid darkgreen;
    border-radius: 20px;
    background-color: lightskyblue;
    position: relative;
    

}
#expenseDiv::before{
    background-image: url("./images/blue\ main.jpg");
    background-size: cover;
    content: '';
    position: absolute;
    inset:0;
    opacity: 0.3;
    border-radius: 20px;
    
}
#expenseDiv h2{
    isolation: isolate;
}
#expenseDiv button{
    isolation: isolate;
}


input{
    opacity: 0.9;
} 
